{% extends "survey/page_template_admin.html" %}
{% load static %}
{% load common_templatetags %}


{% block browserTitle %}{{ block.super}} Admin - Release notes {% endblock %}

{% block pageTitle %} Release notes {% endblock %}

{% block extraFiles %}

	{% include 'partials/tablewidget_files.inc' %}
	
	<script>
	
		(function ($) {
			
			function doFilter () {
				var filterText = '{{ request.GET.filter }}';
				if (filterText.length > 0) {
					$('.dataTables_filter').find('input').val(filterText).trigger('input');
				}	
			}
			
			$(doFilter);
		
		
		})(jQuery);
		
	</script>
	
{% endblock %}


{% block content %}

	<div class="{{ templateHelpers.classes.grid }} mt4">
		<div class="pb0">Edit an item below or <a class="{{ templateHelpers.classes.hasIcon }} animate" href="{% url 'survey:admin_releasenote_add' %}"><span class="mr1">add a new release note</span> {{ templateHelpers.html.icons.chevronForward|safe }}</a></div>
	</div>
	
	<div class="{{ templateHelpers.classes.grid }} mv4">
		
		<table {{ templateHelpers.html.tableWidget.fullFeatures|safe }} data-order='[[0,"desc"]]' data-paging="false">
			<thead>
				<tr>
					<th class="tl">Release</th>
					<th class="tl">Notes</th>
				</tr>
			</thead>
			
			<tbody>
				{% for item in listItems %}
					<tr class="hover-bg-light-green">
						<td class=""><a href="{% url 'survey:admin_releasenote_edit' id=item.id %}" class="{{ templateHelpers.classes.link }}">{{ item.release_number }}</a></td>
						<td class="">{{ item.notes }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
	

{% endblock %}
