{% extends "survey/page_template_admin.html" %}
{% load static %}
{% load common_templatetags %}


{% block browserTitle %}{{ block.super}} Admin - Surveys {% endblock %}

{% block pageTitle %} Surveys {% endblock %}

{% block extraFiles %}

	{% include 'partials/tablewidget_files.inc' %}
	
	<script>
	
		(function ($) {
			
			function doFilter () {
				var filterText = '{{ request.GET.filter }}';
				if (filterText.length > 0) {
					$('.dataTables_filter').find('input').val(filterText).trigger('input');
				}	
			}
			
			$(doFilter);
		
		
		})(jQuery);
		
	</script>
	
{% endblock %}


{% block content %}

	<div class="{{ templateHelpers.classes.grid }} mt4">
		<div class="pb0">Edit an item below or <a class="{{ templateHelpers.classes.hasIcon }} animate" href="{% url 'survey:admin_survey_add' %}"><span class="mr1">add a new survey</span> {{ templateHelpers.html.icons.chevronForward|safe }}</a></div>
	</div>
	
	<div class="{{ templateHelpers.classes.grid }} mv4">
		
		<div>{% if request.GET.question %}You are currently viewing a scoped set of surveys. <a class="{{ templateHelpers.classes.link }}" href="?">View all surveys</a></div>{% endif %}
		
		<!-- <div class="flex items-center mb4">
			<div>Filter project name:</div>
			<div class="ml3-ns"><input type="text" class="mw5"></div>
		</div> -->
		
		
		<table {{ templateHelpers.html.tableWidget.fullFeatures|safe }} data-width="100%">
			<thead>
				<tr>
					<th class="tl">Name</th>
					<th class="tl">Type</th>
					<th class="tl">Language</th>
					<th class="tl">Pages</th>
					<th class="tl">Questions</th>
					<th class="tl">Campaigns</th>
				</tr>
			</thead>
			
			<tbody>
				{% for item in listItems %}
					<tr>
						<td class=""><a href="{% url 'survey:admin_survey_edit' id=item.id %}" class="{{ templateHelpers.classes.link }}">{{ item.name }}</a></td>
						<td class="">{{ item.survey_type|capfirst }}</a></td>
						<td class=""><a href="{% url 'survey:admin_language_list' %}?filter={{ item.language.name }}" class="{{ templateHelpers.classes.link }}">{{ item.language.name }}</a></td>
						<td class="">{{ item.pageCount }}</a></td>
						<td class="">{{ item.questionCount }}</a></td>
						<td class="tl">{% if item.campaignCount > 0 %}<a href="{% url 'survey:admin_campaign_list' %}?filter={{ item.name }}" class="tl {{ templateHelpers.classes.link }} pr4">{{ item.campaignCount }}</a>{% else %}0{% endif %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
	

{% endblock %}
