{% load common_templatetags %}
{% load static %}
{% getTemplateHelpers as templateHelpers %}

<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<link href="{% static 'shared/img/favicon.ico' %}" rel="icon"/>
		<meta name="author" content="Michael Santelia">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex,nofollow">
		<meta name="geo.country" content="WW">
		<meta name="dcterms.date" content="2021-06-01">
		

		{% include 'partials/base_design_css_files.inc' %}
		<style>#djDebug{display:none}</style>

		{% include 'partials/base_design_js_files.inc' %}
		
		<script>
			if (document.readyState === 'loading') {
				document.addEventListener('DOMContentLoaded', function () {
					window.parent.postMessage({message: 'sizeInvite', height: document.body.scrollHeight},'*');
				});
			}
			else {
				window.parent.postMessage({message: 'sizeInvite', height: document.body.scrollHeight},'*');
			}
		</script>
	</head>

	<body class="plex">
		
		<main role="main" aria-label="SurveyKong survey content">
			<div class="pv2">
			
				<div class="w-100 bg-white pa3 {{ templateHelpers.classes.grid }}">
					<div class="lh-copy">{{ campaign.survey_invite.message|safe }}</div>
					
					<div class="mt3 flex items-center justify-between">
						<a target="_blank" href="{% url 'survey:survey_standalone_display' uid=campaign.uid %}" onclick="setTimeout(function(){window.parent.postMessage({message: 'removeInvite'},'*')},250);" class="f6 {{ templateHelpers.classes.bluePriButton }} {{ templateHelpers.classes.smallButton }}">Yes I'll take a brief survey</a>
						<a href="#" onclick="window.parent.postMessage({message: 'removeInvite'},'*');" class="f6 {{ templateHelpers.classes.redSecButton }} {{ templateHelpers.classes.smallButton }}">No thanks</a>
					</div>
					
				</div>
			</div>
		
		</main>
		
	</body>
	
</html>

